<!-- Main Content -->
<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <section class="section">
    <div class="section-header" style="background-color: #82d3f8">
      <h1>Blog </h1>
    </div>

    <div class="section-body" style="background: aquamarine">

      <h2 class="section-title">Articles à la une</h2>
      <div class="row">
        <div *ngFor="let a  of listBlog" class="col-12 col-md-4 col-lg-4">
          <article class="article article-style-c">

            <div class="article-details">
              <div class="article-category"><a href="#">Publié le</a>
                <div class="bullet"></div>
                <a href="#">{{a.datecreation|date}}</a></div>
              <div class="article-title">
                <h2><a href="#"> {{a.TitleArticle}}</a></h2>
              </div>
              <a href="#" class="ticket-item">
                <div class="ticket-title">
                  <a href="#">{{a.designation}}</a>
                </div>
              </a>
              <a>{{a.detailles}}</a>
              <div class="card-header">
                <h4><font style="vertical-align: inherit;"><font
                  style="vertical-align: inherit;">Commentaires</font></font>
                  <a (click)="affichadd()" class="btn btn-icon btn-secondary float-right "><i
                    class="fas fa-plus-circle "></i> </a>
                </h4>
                <div class="card-header-action">

                </div>

              </div>
              <div class="tickets-list">
                <a *ngFor="let c of a.comments" class="ticket-item">
                  <div class="ticket-title">
                    <h4>{{c.description}}</h4>
                  </div>
                  <div class="ticket-info">
                    <div>{{c.utilisateur.nom}}</div>
                    <div class="bullet"></div>
                    <div>{{c.createdAt|date}}</div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="float-right">
                      <a (click)="recuper(c.description,c.id)" class="btn btn-icon btn-primary float-right "><i
                        class="far fa-edit"></i></a>
                      &nbsp; &nbsp;
                      <a (click)="deleteComment(c.id)" class="btn btn-icon btn-danger float-right "><i
                        class="fas fa-trash "></i> </a>
                    </div>
                  </div>
                </a></div>
              <div *ngIf="!affichemodif&&affiaddcomment">
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="description" placeholder="{{description1}}" data-height="150"
                         style="height: 150px;"/>
                </div>
                <div>
                  <select class="form-control" [(ngModel)]="iduser">
                    <option *ngFor="let u of listusers" value="{{u.id}}">{{u.nom}}</option>
                  </select>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-round btn-lg btn-primary" (click)="addComment(a.id)">
                    Laisser un commentaire
                  </button>

                </div>
              </div>
              <div *ngIf="affichemodif">
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="description" placeholder={{description1}}
                         style="height: 150px;"/>
                </div>

                <div class="form-group text-right">

                  <button type="submit" class="btn btn-round btn-lg btn-primary" (click)="editComment()">
                    edit
                  </button>
                </div>
              </div>
            </div>
          </article>


        </div>

      </div>
    </div>
  </section>
</div>


